body{
      font-family:Arial, Helvetica, sans-serif;
    margin:0px;
     background-color: slategray;
     
    
}
#mainbox{
    border:0px solid;
    width: 1500px;
   
    background:white;
    margin: 0px auto;
    
}
#header{
    background:crimson;
        height:100px;
        
   
}
#header h1{
    color:white;
    text-align: center;
    padding: 20px;
    
}
#menu{
    background:#dddddd;
   margin-top:0px;
    
    
}
#menu img{
    margin-top: 6px;
    margin-left: 40px;
    margin-right: 0px;
    max-width:40px;
    float:left;
}
#menu li{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    height:45px;
    margin-top: 4px;
    
}

#menu a{
    display: block;
    text-decoration: none;
    color:black;
    padding:10px 10px;
}
#menu ul{
    margin:0;
    padding:0;
}
#menu li a:hover{
    background:crimson;
    color:white;
    border:1px solid;
    border-radius: 15px 15px 15px 15px;
    
    padding:8px;
}
#menu li a:hover{
    background:crimson;
    color:white;
    border:2px solid crimson;
    border-radius: 10px 10px 15px 15px;
    box-shadow:2px 2px 10px black;
}
#content{
    width: 1100px;
    float:left;
    min-height: 550px;
    padding:10px 10px 10px;
    box-sizing: border-box;
    text-align:justify;
    margin-top: 1px;
    margin-left: 30px;
   
}

  
#content img{
    width:535px;
    height:300px;
    margin-right: 0px;
  
 
}

#sidebar{
        background: lightblue;
        width: 200px;
        float:right;
        height: 625px;
        
}
#sidebar li{
    list-style-type: none;
}
#sidebar a{
    text-decoration: none;
    color:black;
    padding:8px 8px;
    display:block;
  
}
#sidebar li a:hover{
    
        background:crimson;
        color:white;
        border:1px solid crimson;
        border-radius: 10px 10px 15px 15px;
        box-shadow:2px 2px 10px black;

        
}
#footer{
        
        clear:both;
        padding:5px;
        text-align:right;
        color:black;
        height:32px;
        background-color: lightsalmon;
}
#footer p{
    margin:4px 200px 20px;
}
@media screen and (max-width:1500px){

    #mainbox{
       
        width:90%;
    }
    #content{
        width:85%;
        margin:0px auto;

    }
    #sidebar{
        width:15%;
        
    }

@media screen and (max-width:1200px){

    #mainbox{
        
        width: 100%;
    }
    #content{
        width:83%;
        margin:0px auto;
    }
    #sidebar{
        width:16%;
        height:100%;
    }


}


}
@media screen and (max-width:1000px){
    #mainbox{
        width:100%;
       
    }
    #content{
        width:79%;
    }
    #sidebar{
        width:17%;
        height:90%;
    }
    
}
@media screen and (max-width:800px){
    #mainbox{
        width: 100%;
        
    }
    #content{
        width:80%;
        margin:auto;
    }
    #content img{
        width:100%;
    }
    #sidebar{
        width:20%;
    }
}
@media screen and (max-width:600px){
    #mainbox{
        width:100%;
        float:none;
        
    }
    #content{
        width:99%;
        
        
    }
    #content img{
        width:100%;
    }
    #sidebar{
        width:35%;
        height:400px;
    }
    #footer{
        margin-bottom: 0px;
    }
} 
    
